.horizontalDivider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
  padding-bottom: 20px;
}

.background {
  background-image: url(../assets/Images/wallpaperflare.com_wallpaper\(9\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
