.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 28px;
  padding: 0 60px;
}

p {
  padding: 0 60px;
  text-align: justify;
}

.primaryBtnBig {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: 'Roboto-Slab', serif;
  text-transform: uppercase;
}
