nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 94px;
  box-sizing: border-box;
  padding: 24px 4%;
  background: white;
  border-bottom: 1px solid #e8e8e8;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

li a {
  text-decoration: none;
}

.navLink {
  opacity: 0.5;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.navLink:hover {
  color: #121212;
  opacity: 1;
}

.active {
  font-size: 0.813rem;
  text-transform: uppercase;
  color: #121212;
  letter-spacing: 1.9px;
  opacity: 1;
}

h1 {
  font-size: 1.875rem;
  color: #0290ff;
  font-weight: bold;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
