.formTitle {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #fff;
}

.input1 {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
  width: 50%;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #bebbbb;
  width: 18%;
}

.primaryBtnBig {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: 'Roboto-Slab', serif;
  text-transform: uppercase;
}

.formContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
