.bookList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  box-sizing: border-box;
  column-gap: 10px;
  justify-content: space-between;
  margin: 0;
}

span {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.horizontalDivider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}
